# Basick Function

In [1]:
# Using Print() Function
print("Hellow world")

print(123456789)

Hellow world
123456789

In [3]:
# Using Datatype()

a = 2
print(type(a))

b = "python"
print(type(b))

c = 10.5
print(type(c))

<class 'int'>
<class 'str'>
<class 'float'>

In [4]:
# Using Input()

a = input("Enter the value of A :")
print("A :",a)

A : juu

# Multiline comments

In [ ]:
#   Wite a program to print
#   multiples values with variable  (press C + /)

In [2]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

# Numeric Datatype

In [2]:
# Int Datatype
a = 10
print(type(a))

# Float Datatype
b = 10.5
print(type(b))

# Complex Datatype
c = 2+4j
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

# Boolean Datatype

In [8]:
d = True
print(type(d))

e = False
print(type(e))

<class 'bool'>
<class 'bool'>

# Set Datatype

In [9]:
f = {"a","b","c"}
print(type(f))

<class 'set'>

# Dictionary Datatype

In [10]:
x = {"key":"value"}
print(type(x))

<class 'dict'>

# Sequence Datatype

In [14]:
# List datatype
l1 = [1,2,3,4,5]
print(type(l1))

# String Datatype
y = "python program"
print(type(y))

# Tuple datatype
z = (1,2,3,4,5)
print(type(z))

<class 'list'>
<class 'str'>
<class 'tuple'>

# Creating a Variable

In [28]:
# Integer value to the variable
a = 10
print(a)
print(type(a))

# Float Value to the Variable
b = 10.45
print(b)
print(type(b))

# String value to the variable
c = "python"
print(c)
print(type(c))

# List store in Variable
l1 = [1,2,3,4,5,6]
print(l1)
print(type(l1))

# Tuple store in Variable
t1 = (1,2,3,4,5)
print(t1)
print(type(t1))

10
<class 'int'>
10.45
<class 'float'>
python
<class 'str'>
[1, 2, 3, 4, 5, 6]
<class 'list'>
(1, 2, 3, 4, 5)
<class 'tuple'>

# Type conversion

In [68]:
# Converting from one datatype to anothor type is called 
# type conversion/Type Casting

a = int(input("Enter the value of A :"))
print("A : ",a)
print(type(a))

Enter the value of A :1234
A :  1234
<class 'int'>

# Arithemetick Operater

In [74]:
# Additional Operater

x = 10
y = 20

z = x+y
print("answer :",z)

answer : 30

In [77]:
# Substaction Operater
x = 30
y = 10

z = x-y
print("Answer :",z)

Answer : 20

In [81]:
# Multyplication Operater
x = 10
y = 2

z = x*y
print("Answer :",z)
print(type(z))

Answer : 20
<class 'int'>

In [80]:
# Division Operater
x = 10
y = 2

z = x/y
print("Answer :",z)
print(type(z))

Answer : 5.0
<class 'float'>

# Assignment Operater

In [92]:
# Equal to Operater

x = 5
print("x :",x)

x : 5

In [109]:
# Addition and Equal to Operater

x = 5
x+=10 #... x = x+5
print("x :",x)

x : 15

In [101]:
x =  int(input("Enter the value of A :"))
y =  int(input("Enter the value of A :"))
z = (x+y)
print(z)

Enter the value of A :4
Enter the value of A :6
10

In [2]:
x =  int(input("Enter the value of First : "))
x*=  int(input("Enter the value of Second : "))
print("print total value :", x)

Enter the value of First : 33
Enter the value of Second : 2
print total value : 66

In [3]:
# Subtraction and Equal to Operater

x = 6
x-= 2 # x = x-2
print("x : ",x)

x :  4

# Comparison Operater

In [5]:
# Equal to Equal to Operater

x = 5
y = 3
print(x==y)

False

In [9]:
# Not Equal to Operater

x = 5
y = 3
print(x!=y)

True

In [21]:
# greater than equal to

x = 5
y = 3
print(x>=y)

True

# Logical Operater

In [24]:
# And Operater

x = 5
print(x>3 and x<3)

False

In [29]:
# Or Operater

x = 5
print(x>3 or x<4)

True

# Identity Operater

In [37]:
# Is Operater

x = ["Apple","Mango"]
y = ["Apple","Mango"]
z = x

print(x is y)    # the object is not matching that's why it give us false
print(x is z)    # the object is matching that's why it returns true

False
True

# membership Operater

In [39]:
x = ["Apple","Mango"]
print("Bannana" in x)
print("graps" not in x)

False
True

# Operater Precedence

In [51]:
a = 20
b = 10
c = 15
d = 5

x = (a+b)*c/d
print("Value of :",x)

y = ((a+b)*c)/d
print("Value of :",y)

z = a+(b*c)/d
print("Valu of z :",z)

Value of : 90.0
Value of : 90.0
Valu of z : 50.0

In [1]:
a = int(input("Enter the value of First : "))    # Try on my way
b = int(input("Enter the value of First : "))
c = int(input("Enter the value of First : "))
d = int(input("Enter the value of First : "))

x = (a+b)*c/d
print("Value of :",x)

y = ((a+b)*c)/d
print("Value of : ",y)
print(type(x))
print(type(y))

Enter the value of First : 3
Enter the value of First : 34
Enter the value of First : 32
Enter the value of First : 3
Value of : 394.6666666666667
Value of :  394.6666666666667
<class 'float'>
<class 'float'>

# Simple If

In [2]:
var = 10

if(var==10): # Your condition is getting True
    print("Value of variable is 10")
print("Bye")

Value of variable is 10
Bye

In [1]:
a = 25

if(a>30): # Condition is getting false
    print("value of variable is 25")
print("bye")

bye

# If_Else

In [14]:
a = int(input("Enter the value of A : "))
b = int(input("Enter the value of B : "))

if a<b: # Condition is getting True
    print("B is greater")
else: #Else part call
    print("A is greater")

Enter the value of A : 45
Enter the value of B : 765
B is greater

In [19]:
x = 25
y = 30

if x<y: #condition True
    print("Y is greater")
else:
    print("X is greater")

Y is greater

# If Else Ladder

In [18]:
# 1)Percentage greater than 70 ==Dist
# 2)Percentage greater or equal to 65 and less than 70 == 1st class
# 3)Percentage greater or equal to 60 and less than 65 == 2nd class
# 3)Percentage greater or equal to 55and less than 60 == 3rd class
# 4)Percentage less than 55 == Fail

p = int(input("Enter your percentage : "))

if p>=70:
    print("Dist")
elif p>=65 and p<70:
    print("1st class")
elif p>=60 and p<65:
    print("2nd class")
elif p>=55 and p<60:
    print("3rd class")
else:
    print("fail")

Enter your percentage : 66
1st class

# Nested If

In [25]:
# 1)Age>=18
# 2)Wight>=50
# 3)If both age and weight match with creiteria then the user can donate the blood
# 4)If age is less than 18 show one msg under weight
# 5)If weight is less than 50 show one msg under weight
# 6)If age doesnot match then it should ask for weight

age = int(input("Enter your Age : "))


if age>=18:
    weg = int(input("Enter your weight : "))    
    if weg>=50:
        print("Blood Donat")
    else:
        print("Under weight")
else:
    print("Under age")

Enter your Age : 19
Enter your weight : 45
Under weight

# While Loop

In [ ]:
# 5,9,12,14,15

sum = 0
n = int(input("N : "))
while n>0:
    sum = sum+n
    n-=1
    print("sum : ",sum)
print("Bye")

In [1]:
i = int(input("Put in number = "))

while(i<20):
    #print(i)
    i = i+1
    print(i)

Put in number =  2

3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

# While Loop With Else Part

In [2]:
sum = 0
n = int(input("N : "))
while n>0:
    sum = sum+n
    n-=1
    print("sum : ",sum)
else:
    print("loop Error")
print("Bye")

N : 5
sum :  5
sum :  9
sum :  12
sum :  14
sum :  15
loop Error
Bye

# Simple For Loop

In [10]:
word = ["python","java","angular","graphic"]
for i in word:
    print(i,'=',len(i))

python = 6
java = 4
angular = 7
graphic = 7

# Nested For Loop

In [14]:
# *
# **
# ***
# ****
# *****
# range(start point,end point,step(jump)point)

for i in range(1,6):
    for j in range(i):
        print("+",end="")
    print()

+
++
+++
++++
+++++

In [16]:
# For revese format

for i in range(5,0,-1):
    for j in range(i):
        print("+",end="")
    print()

+++++
++++
+++
++
+

# Break Statement

In [19]:
for letter in "python":
    if letter == "h":
        #Here using break statement to break execution
        break
    print("current letter :",letter)

current letter : p
current letter : y
current letter : t

# Continue Statement

In [21]:
for letter in "python":
    if letter == 'h':
        #continue statement will skip the 'h'
        continue
    print("Current Letter : ",letter)
print("bye")

Current Letter :  p
Current Letter :  y
Current Letter :  t
Current Letter :  o
Current Letter :  n
bye

# Pass Statement

for letter in "python":
    if letter == 'h':
        pass
        print("pass block")
    print("current letter : ",letter)
print("bye")

# How to use String in Python

In [29]:
# Single Quote in String
print('Hello World')

# Double quote in String
print("Hello World")

Hello World
Hello World

# Multiline String

In [30]:
a = """python is booming in the market,
python is smart language,
python is used in AI,Machin Learning,Data Science
"""
print(a)

python is booming in the market,
python is smart language,
python is used in AI,Machin Learning,Data Science

# Update String

In [33]:
a = "Hello world!"
print(a)
print("Update String : ",a[:6]+"python")

Hello world!
Update String :  Hello python

# String Slicing other name Using Arrey

In [49]:
a = "Hello Python"
# Access the valu of Index 1
print("Index 1 : ",a[1])

# Access the value Between index 1 to 6
print("Index between 1 to 8 :",a[1:8])

# Access the value till index 6
print("Index till 7 : ",a[:7])

# Access the last value from string
print("Last value : ",a[-1])

Index 1 :  e
Index between 1 to 8 : ello Py
Index till 7 :  Hello P
Last value :  n

# Strin In-Build Methods

In [51]:
# Capitalize() : This method converts the first Character in String
a = "hello and wellcome to learnvern"
x = a.capitalize()
print(x)

Hello and wellcome to learnvern

In [52]:
# Casefold() : This method convert all capital letter small
a = "Hello and Wellcome to Learnvern"
x = a.casefold()
print(x)

hello and wellcome to learnvern

In [58]:
# Center() : This is use to bring your into center

a = "python"
print(a)

x = a.center(20)
# Update using center method
print(x)

python
       python

In [59]:
# Count() : This method is used to count the repeated word in string
a = "I love python, python is a smart language"
x = a.count("python")
print(x)

2

# How to Compare String

In [62]:
str1 = "Learnvern"
str2 = "Learnvern"
result = str1==str2
print(result)

True

In [66]:
str1 = 'A'
str2 = 'B'
str3 = 'C'
result = str2<str3
print(result)

True

# Create a List

In [6]:
# this list Store the integer values
l1 = [1,2,3,4,5,6]
# This List store the String Vlaues
l2 = ["Apple", "MAngo" ,"Orange"]
print("Integer List : ",l1)
print("String List : ",l2)

Integer List :  [1, 2, 3, 4, 5, 6]
String List :  ['Apple', 'MAngo', 'Orange']

# Duplicate Values in

In [7]:
l1 = [1,2,3,4,5,6,1,2,3]
print("Duplicate Values :",l1)

Duplicate Values : [1, 2, 3, 4, 5, 6, 1, 2, 3]

# List Constructer

In [8]:
l1 = list(("Apple","Mango","Orange")) # Note there is Double Bracets
print(l1)

['Apple', 'Mango', 'Orange']

# List Slicing

In [21]:
l1 = [1,2,3,4,5,6,7,8,9,10]
print("Current List : ",l1)

# Acessn  the value of index 1
print("Index 1 value : ",l1[1])

# Acess the value Between index 1 to 6
print("Index Between 1 to 6 : ",l1[1:6])

# Acess the value till index 6
print("Index Till 6 : ",l1[:6])

# Acess the last value from List
print("Last value : ",l1[-1])

Current List :  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Index 1 value :  2
Index Between 1 to 6 :  [2, 3, 4, 5, 6]
Index Till 6 :  [1, 2, 3, 4, 5, 6]
Last value :  10

# List Item Change

In [24]:
x = ["Apple","Banana","Cherry","Mango","Orange","Kiwi"]
print("current List : ",x)

# Change the item List
x[1:3] = ["Grapes","Watermelon"]
print("Updated List : ",x)

current List :  ['Apple', 'Banana', 'Cherry', 'Mango', 'Orange', 'Kiwi']
Updated List :  ['Apple', 'Grapes', 'Watermelon', 'Mango', 'Orange', 'Kiwi']

# Insert into List

In [26]:
l1 = [1,2,3,4,5,6]
print("Current List : ",l1)
# Updating the list using insert method
l1.insert(2,"python")
print("updated List : ",l1)

Current List :  [1, 2, 3, 4, 5, 6]
updated List :  [1, 2, 'python', 3, 4, 5, 6]

# Extend the list

In [27]:
l1 = [1,2,3,4,5]
l1 = ['A','B','C','D','E']
# Extending the list of l2 into l1
l1.extend(l2)
print(l1)

['A', 'B', 'C', 'D', 'E', 'Apple', 'MAngo', 'Orange']

# Remove item from List

In [30]:
# remove() : This method is used to remove element from list

l1 = [1,2,3,4,5,6,7]
print("Current List : ",l1)

# Removing the item using remove method
l1.remove(3)
print("Update List : ",l1)

Current List :  [1, 2, 3, 4, 5, 6, 7]
Update List :  [1, 2, 4, 5, 6, 7]

In [33]:
# pop() : This method is used to remove last value from List

l1 = [1,2,3,4,5,6,7]
print("Current List : ",l1)

# Remove item using pop method
l1.pop()
print("Updated List : ",l1)

Current List :  [1, 2, 3, 4, 5, 6, 7]
Updated List :  [1, 2, 3, 4, 5, 6]

In [35]:
# del() : This method is used to remove item from the index

l1 = [1,2,3,4,5,6,7]
print("current List : ",l1)

# Remove item asking del method
del l1[2]
print("Update list : ",l1)

current List :  [1, 2, 3, 4, 5, 6, 7]
Update list :  [1, 2, 4, 5, 6, 7]

In [38]:
# clear() : this method is used to clear the list

l1 = [1,2,3,4,5,6,7]
print("current list : ",l1)

# remove item using clear method
l1.clear()
print("Updated List : ",l1)

current list :  [1, 2, 3, 4, 5, 6, 7]
Updated List :  []

# Create Tuple

In [1]:
# Creating a Tuple

t1 = ("apple","Orange","Cherry",1,2,3,4,5,10.5,12.5,5,4)
print("Current Tuple : ",t1)

Current Tuple :  ('apple', 'Orange', 'Cherry', 1, 2, 3, 4, 5, 10.5, 12.5, 5, 4)

# How to check a Length of Tuple

In [4]:
t2 = (1,2,3,4,5,6,7)
print("Size : ",len(t2))

Size :  7

# Indexing / Slicing in Tuple

In [20]:
t1 = ("apple","Orange","Cherry",1,2,3,4,5,10.5,12.5,5,4)
print("Current Tuple : ",t1)

# Sccessing the value by using index
print("Index 1 value : ",t1[6])

# Accessing the value between index 1to 6
print("Index between 1 to 6 : ",t1[1:6])

# Access the value from last into tuple
print("Last value : ",t1[-1])

# Access the value till index 6
print("Value to Index 6 : ",t1[:6])

Current Tuple :  ('apple', 'Orange', 'Cherry', 1, 2, 3, 4, 5, 10.5, 12.5, 5, 4)
Index 1 value :  4
Index between 1 to 6 :  ('Orange', 'Cherry', 1, 2, 3)
Last value :  4
Value to Index 6 :  ('apple', 'Orange', 'Cherry', 1, 2, 3)

# Convert Tuple into List

In [22]:
t1 = ("apple","Orange","Cherry",1,2,3,4,5,10.5,12.5,5,4)
print("Current Tuple : ",t1) #Before change

x = list(t1)
print("After convert : ",x)

Current Tuple :  ('apple', 'Orange', 'Cherry', 1, 2, 3, 4, 5, 10.5, 12.5, 5, 4)
After convert :  ['apple', 'Orange', 'Cherry', 1, 2, 3, 4, 5, 10.5, 12.5, 5, 4]

# Tuple Constructor

In [23]:
t3 = tuple(("apple","Orange","Cherry",1,2,3,4,5,10.5,12.5,5,4)) # Note the double round brackets
print("Convert Tuple : ",t3)

Convert Tuple :  ('apple', 'Orange', 'Cherry', 1, 2, 3, 4, 5, 10.5, 12.5, 5, 4)

# Add item but after converting tuple into list

In [30]:
t4 = ("apple","Orange","Cherry",1,2,3,4,5,10.5,12.5,5,4)
print("Current Tuple : ",t4) # Befor convert
print(type(t4))

# Convert tuple into list
x = list(t4)
print(x) # After convert
print(type(x))

# Add item into list
x[1] = "Kiwi"
print("Updated List : ",x)

# convert list into tuple again
y = tuple(x)
print("Updated Tuple : ",y)

Current Tuple :  ('apple', 'Orange', 'Cherry', 1, 2, 3, 4, 5, 10.5, 12.5, 5, 4)
<class 'tuple'>
['apple', 'Orange', 'Cherry', 1, 2, 3, 4, 5, 10.5, 12.5, 5, 4]
<class 'list'>
Updated List :  ['apple', 'Kiwi', 'Cherry', 1, 2, 3, 4, 5, 10.5, 12.5, 5, 4]
Updated Tuple :  ('apple', 'Kiwi', 'Cherry', 1, 2, 3, 4, 5, 10.5, 12.5, 5, 4)

# Loops with tuple

In [31]:
# for loop with tuple
t5 = ("apple","Orange","Cherry",1,2,3,4,5,10.5,12.5,5,4)
for i in t5:
    print(i)

apple
Orange
Cherry
1
2
3
4
5
10.5
12.5
5
4

In [2]:
# while loop with tuple
t5 = ("apple","Orange","Cherry",1,2,3,4,5,10.5,12.5,5,4)
i = 0

while i<len(t5):
    print(t5[i])
    i=i+1
else:
    print("Loop finished")

apple
Orange
Cherry
1
2
3
4
5
10.5
12.5
5
4
Loop finished

# How to compare tuples

In [11]:
tuple1 = ("apple","Orange","Cherry",1,2,3,4,5,10.5,12.5,5,4)
tuple2 = ("apple","Orange","Cherry",1,2,3)

# tuple1 is equal to tuple2
print(tuple1==tuple2)

# tuple1 lessthan from tuple2
print(tuple1<tuple2)

# tuple1 greaterthan from tuple2
print(tuple1>tuple2)

False
False
True

# Creating a Dictionary

In [2]:
d1 = {1:"Apple",2:"Mango",3:"Orange",4:"Apple",'A':'B'}
print(d1)
print(type(d1))

{1: 'Apple', 2: 'Mango', 3: 'Orange', 4: 'Apple', 'A': 'B'}
<class 'dict'>

# List tnto Dictionary Store

In [6]:
# Storage a list into Dictionary on a single key
d2 = {1:"Python",2:"Java","fruit":["Apple","Orange","Mango"]}
print(d2)

{1: 'Python', 2: 'Java', 'fruit': ['Apple', 'Orange', 'Mango']}

# Tuple into Dictionary Store

In [7]:
# storing a tuple into Dictionary on a single key
d3 = {1:"python",2:"Java","Language":("Java","python","php")}
print(d3)

{1: 'python', 2: 'Java', 'Language': ('Java', 'python', 'php')}

# Access the value of Dictionary

In [34]:
d1 = {1:"Apple",2:"Mango",3:"Orange",4:"Apple",'A':'B'}
print("Current dict : ",d1)

# Access the value using key
x = d1[3]
print(x)

# Access the value using get()
y = d1.get(1)
print(y)

# Access the value using item()
z = d1.items()
print(z)

# Access the only key from Dictionary
k = d1.keys()
print("keys : ",k)

# Access the only value from Dictionary
v = d1.values()
print("Values : ",v)

Current dict :  {1: 'Apple', 2: 'Mango', 3: 'Orange', 4: 'Apple', 'A': 'B'}
Orange
Apple
dict_items([(1, 'Apple'), (2, 'Mango'), (3, 'Orange'), (4, 'Apple'), ('A', 'B')])
keys :  dict_keys([1, 2, 3, 4, 'A'])
Values :  dict_values(['Apple', 'Mango', 'Orange', 'Apple', 'B'])

# Change the value

In [17]:
d1 = {1:"Apple",2:"Mango",3:"Orange",4:"Apple",'A':'B'}
d1[3] = "kiwi"
print("Update Dict : ",d1)

Update Dict :  {1: 'Apple', 2: 'Mango', 3: 'kiwi', 4: 'Apple', 'A': 'B'}

In [20]:
# Update Dictionary by using update()
print("Current dict : ",d1)
# Update dictionary by using update method
d1.update({2:"Bannana"})
print("Update dict : ",d1)

Current dict :  {1: 'Apple', 2: 'Bannana', 3: 'kiwi', 4: 'Apple', 'A': 'B'}
Update dict :  {1: 'Apple', 2: 'Bannana', 3: 'kiwi', 4: 'Apple', 'A': 'B'}

# Remove values from dictionary

In [32]:
# Using pop()
d1 = {1:"Apple",2:"Mango",3:"Orange",4:"Apple",'A':'B'}
print("Current Dict : ",d1)

#d1.pop(2)
#print("Update Dist : ",d1)

# Using popitem()

#d1.popitem()
#print("Update Dict : ",d1)

# Using del()
#del d1[1]
#print("Update Dict : ",d1)

# Using Clear()
d1.clear()
print("Update Dict : ",d1)

Current Dict :  {1: 'Apple', 2: 'Mango', 3: 'Orange', 4: 'Apple', 'A': 'B'}
Update Dict :  {}

# In-build Function

In [13]:
# Print() Function
print("Hello World")

# Range() Function
for i in range(1,9):
    print(i)
    
# Round() Function
x = round(53.7865,2)
print(x)

Hello World
1
2
3
4
5
6
7
8
53.79

# User Define Function

In [15]:
# Create function
def myfunction():
    print("hello")
    
# Calling a function
myfunction()

hello

# Function with one Arguments

In [1]:
# Creating a function
def myfunction(a):
    print("A : ",a)
    
# Calling a function
myfunction(10) #Passing argument as a 10

A :  10

# Multiple Arguments into Function

In [19]:
# Creating a function
def myfunction(a,b):
    print("A : ",a)
    print("B : ",b)
    
# Calling a function
myfunction(10,20)  # Passing 2 argument

A :  10
B :  20

# Keywords Arguments

In [22]:
# Creating a function

def myfunction(child3,child2,child1):
    print("Youngest child is : "+child3)
    
# calling a function
myfunction(child1="Ritesh",child2="Ram",child3="Geeta")

Youngest child is : Geeta

# Default Parameter Value

In [1]:
# Creating a function

def myfunction(state="Gujarat"):
    print("I am from : "+state)
    
# calling a function
myfunction("Rajastan")
myfunction("Punjab")
myfunction("Uter Pradesh")
myfunction()

I am from : Rajastan
I am from : Punjab
I am from : Uter Pradesh
I am from : Gujarat

# Passing a list into function

In [3]:
# Creating a function
def myfunction(fruit):
    for i in fruit:
        print(i)
f = ["Apple","Mango","Orange"]

# Calling a function
myfunction(f)

Apple
Mango
Orange

# Return values from function

In [4]:
# Creating a function

def myfunction(x):
    return 5*x

# Calling a function
print(myfunction(3))
print(myfunction(4))
print(myfunction(5))

15
20
25

# Recursion Function

In [5]:
# The function which call itself

# Creating a function

def factorial(x):
    if x == 1:
        return 1
    else:
        # Calling recursion function
        return(x*factorial(x-1))
num = int(input("Num : "))
print("The factorial of ",num,"is : ",factorial(num))

Num :  5

The factorial of  5 is :  120

# Anonymous Function (Lambada Function)

In [7]:
# Creating a function
x = lambda a: a+10
print(x(5))


# Lambda Function with multiple Argument
y = lambda a,b:a*b
print(y(5,10))

15
50

# Global Variable

In [9]:
# Global variable means the variable can be use anywhere in the program

z = 25 #Global variable
def myfunction():
    global z
    print(z)
    z = 20
    
myfunction()
print(z)

25
20

# Local Variable

In [11]:
# The variable which can be used in it scop

def sum(x,y):
    sum = x+y
    return sum

print(sum(5,10))
print(x) #Variable x is local variable

15
<function <lambda> at 0x00000192FB5AAE60>

# Random Module in Python

# Import Random

In [ ]:
# from random import functionname

# import name

# Chice

In [13]:
from random import choice

l1 = [1,2,3,4,5,6]
print(choice(l1))

2

# Randint()

In [25]:
from random import randint

otp = randint(10000,999999)
print("your Otp : ",otp)

your Otp :  983941

# Shuffle()

In [30]:
from random import shuffle

l2 = ["Apple","Bannana","Mango"]
shuffle(l2)
print(l2)

['Bannana', 'Mango', 'Apple']

# Math Module

# Import Math

In [ ]:
# import math
# from math import function name

# Factorial()

In [6]:
import math

print(math.factorial(4))

24

# Ceil

In [13]:
import math   # uper value collect

print(math.ceil(1.4))
print(math.ceil(5.3))
print(math.ceil(-5.3))

2
6
-5

# Floor ()

In [15]:
import math   # Down value collect

print(math.floor(0.6))
print(math.floor(1.4))

0
1

# Sqrt ()

In [22]:
import math   # Root over squre value collect

print(math.sqrt(10))

3.1622776601683795

# File Handling

# File Creating

In [1]:
# Open method("File name","Permission")
s = "This is my file handling Program"
file = open("demo.txt","w")
file.write(s)
print("File created")
file.close()

File created

# File Read

In [2]:
file = open("demo.txt","r")
filecontent = file.read()
print(filecontent)

This is my file handling Program

# Write a list into File

In [4]:
l1 = ["Python","java","php","angular"]
file = open("demo2.txt","w")
file.writelines(l1)
print("file created")
file.close()

file created

# Read a list from File

In [5]:
file = open("demo2.txt","r")
filelist = file.readlines()
print(filelist)

['Pythonjavaphpangular']

# appending the valu into file

In [6]:
s = "python file handling"
file = open("demo.txt","a")
file.write(s)
print("File updated")
file.close()

File updated

# Exception Handling

# Exception Creat

In [5]:
a = int(input("Enter the value of A : "))
print("A : ",a)
# we got a wrong input by the user
print("Bye")

Enter the value of A :  hello

ValueError: invalid literal for int() with base 10: 'hello'

In [7]:
a = int(input("Enter the value of A : "))
b = int(input("Enter the value of B : "))

c = a/b # Exception occur on runtime because division by zero

print("Answer : ",c)

print("Bye")

Enter the value of A :  10
Enter the value of B :  0

ZeroDivisionError: division by zero

In [9]:
try:
# The code which is written try block can be occur error at runtime
    a = int(input("Enter the value of A : "))
    b = int(input("Enter the value of B : "))

    c = a/b # Exception occur on runtime because division by zero

    print("Answer : ",c)
except Exception as e:
    # This block will run when exception occur
    print("Exception caught : ",e)
    
print("Bye")

Enter the value of A :  56
Enter the value of B :  fgbdf

Exception caught :  invalid literal for int() with base 10: 'fgbdf'
Bye

# Many Exception

In [11]:
try:
    # We have not define variable x
    print(x)
except NameError:
    print("Variable is not define")
except:
    print("Exception caught")

Variable is not define

# How to use else with except

In [13]:
try:
#    print("Hello")
    print(x)
except:
    print("Something went wrong")
else:
    print("Nothing went wrong")

Something went wrong

# Finally Block

In [15]:
# The block which run compulsory if error occurs or not
try:
#    print("Hello")
    print(x)
except:
    print("Something went wrong")
finally:
    print("Finally block")

Something went wrong
Finally block

# User Define Exception

In [18]:
class Myexception(Exception):
    pass

c = 25
if c>5:
    raise Myexception("Something went wrong")

Myexception: Something went wrong

# How to create a Class

In [1]:
class myclass:
    x = 5 #property of class

print(myclass)

<class '__main__.myclass'>

# How to create object

In [2]:
class myclass:
    x = 5 # property of class
    
#creating object of myclass
m1 = myclass() # m1 is an object of class myclass
print(m1.x)

5

# Calling a function by object

In [4]:
class myclass:
    def myfunction(self): # property of myclass
        print("Hello myFunction")
# Creating an object
m1 = myclass()
m1.myfunction()

Hello myFunction

# How create constructor

In [8]:
class myclass:
    # Creating a constructor
    def __init__(self):
        print("This is my constuctor")
        
#creating an object
m1 = myclass()

This is my constuctor

# Change the value by object

In [1]:
class myclass:
    def __init__(self,name,age):
        self.name = name
        self.age = age
        
    def myfunction(self):
        print("My Name is : "+self.name)
# creating an object
m1 = myclass("Sunit",25)
m1.age
m1.name
# Changing the age using object
m1.age = 26
print("Age : ",m1.age)

# Delet the object
del m1.age
print("Age : ",m1.age)

Age :  26

AttributeError: 'myclass' object has no attribute 'age'

# Inheritance

# Single Inheritance

In [12]:
class parentclass:  # parent class
    def myfunction1(self): # parent class property
        print("Parent Class Function Called")
        
class childclass(parentclass): #child class which inherit parent class
    def myfunction2(self): #childclass property
        print("Child Class Function Called")
        
# Creating an object of childclass
c1 = childclass()
c1.myfunction1()
c1.myfunction2()

Parent Class Function Called
Child Class Function Called

#  Multilevel Inheritance

In [11]:
class A: #parent class
    def myfunction1(self):
        print("class A function called")
        
class B(A): #sub-parent class
    def myfunction2(self):
        print("class B function called")
        
class C(B): #child class
    def myfunction3(self):
        print("class C function called")
        
# creating an object of class c
c1 = C()
c1.myfunction1()
c1.myfunction2()
c1.myfunction3()

class A function called
class B function called
class C function called

#   Multiple Inheritance

In [14]:
class A1: # 1st parent class
    def myfunction1(self):
        print("class A1 function called")
class B1: # 2nd parent class
    def myfunction2(self):
        print("class B1 function called")
        
class C1(A1,B1): # child class
    def myfunction3(self):
        print("class c1 function called")
        
# creating an object of class c1

ob = C1()
ob.myfunction1()
ob.myfunction2()
ob.myfunction3()

class A1 function called
class B1 function called
class c1 function called

#  Hierarchical Inheritance

In [19]:
class A1: # parent class
    def myfunction1(self):
        print("class A1 function called")
        
class A2(A1): # child class
    def myfunction2(self):
        print("class A2 function called")

class A3(A1): # child class
    def myfunction3(self):
        print("class A3 function called")
        
# creating 2 objects 1 for claa A2 and 1 for class A3

a2 = A2()
a3 = A3()

a2.myfunction1() # function of class A1
a2.myfunction2() # function of class A2

a3.myfunction1() # function of class A1
a3.myfunction3() # function of class A3

class A1 function called
class A2 function called
class A1 function called
class A3 function called

#  Hybrid Inheritance

In [20]:
class B1: # parent class
    def myfunction1(self):
        print("class A1 function called")
        
class B2(B1): # child class
    def myfunction2(self):
        print("class A2 function called")

class B3(B2): # child class
    def myfunction3(self):
        print("class A3 function called")
        
class B4(A2,B3): # child class
    def myfunction4(self):
        print("class A4 function called")
        
# cretingan an object of class B4

b1 = B4() #object of class B4
b1.myfunction1()
b1.myfunction2()
b1.myfunction3()
b1.myfunction4()

class A1 function called
class A2 function called
class A3 function called
class A4 function called

# Polymorphism

# Compile Time Polymorphism   ( Method Overloading )

In [25]:
class MO:
    def myfunction(self): # no arguments
        print("function with no arguments")
        
    def myfunction(self,a): # 1 arguments
        print("function with 1 arguments")
        
    def myfunction(self,a,b): # 2 arguments
        print("function with 2 argument")
        
# creating an object of class MO
m = MO()
m.myfunction(10,20)

# Note : Method overloadingh is not supperted in python because python is a interprited language

function with 2 argument

# Runtime Polymorphism           ( Method Overriding )

In [28]:
class MO1: # parent class
    def myfunction(self,a):
        print("class MO1 function called")
        
class MO2(MO1): # child class
    def myfunction(self,a):
        print("class MO2 function called")
         # super method calling the method of class MO1
        super().myfunction(10)
        
class MO3(MO2): # child class
    def myfunction(self,a):
        print("class MO3 function called")
        # super method calling the method of class MO2
        super().myfunction(10)
        
# Creating an object of class MO3

m = MO3() # object of MO3
m.myfunction(10)

class MO3 function called
class MO2 function called
class MO1 function called

# Abstraction

In [31]:
class RBI: # Abstract class
    def Interest(self): # Abstract method
        pass
    
class SBI(RBI): # Child class
    def Interest(self): # RBI Interest method implements here
        print("SBI Interest is 5%")
        
class HDFC(RBI): # Child class
    def Interest(self): # RBI Interest method implements here
        print("HDFC Interest is 2%")
        
# Creatin an object of class SBI
s = SBI()

# Creatin an object of class HDFC
h = HDFC()

s.Interest() # SBI Interest method called
h.Interest() # HDFC Interest method called

SBI Interest is 5%
HDFC Interest is 2%

In [1]:
class animal: # Abstract class / Parent class
    def move(self): # Abstract method
        pass
    
class dog(animal): # Child class
    def move(self): # Class animal implements method here
        print("I can bark")
        
class snake(animal): # Child class
    def move(self):
        print("I can hiss")
        
# Creating an object of class dog
d = dog()

# Creating an object of class snake
s = snake()


d.move()
s.move()

I can bark
I can hiss

# Encapsulation

# Achieving Encapsulation by Private

In [2]:
class A: #parent class
    def __init__(self,a):
        self.__a=a # the variable is a private variable (double underscore use)
        
    def show(self):
        #Printing a private using function
        print("Private Variable : ",self.__a)
        
class B(A): # child class
    def __init__(self,b):
        super().__init__(b)
        
    def show(self):
        print(self.__a)
        
# Creating an object of class B

obj = B(20)
obj.show()

AttributeError: 'B' object has no attribute '_A__a'

# Achieving Encapsulation by Protected

In [3]:
class A: #parent class
    def __init__(self,a):
        self._a=a # this variable is a protected variable (single underscore use)
        
    def show(self):
        print("Protected variable : ",self._a)
        
class B(A): #child class
    def __init__(self,b):
        super().__init__(b)
        
    def showB(self):
        print("variable value :",self._a)
        
# Creating an object of class B

obj = B(30)
obj.showB()

variable value : 30

# Regular Expression

# Match Function

In [8]:
# Import re module first
import re

pattern = r"^abcd"
mystring = "abcdef"

x = re.match(pattern,mystring)
print(x)

<re.Match object; span=(0, 4), match='abcd'>

# Search Function

In [2]:
# Import re module first
import re

txt = "We are learning python"
x = re.search("\s",txt) # This expression is written for searching whitespace
print("The first white space :",x.start())

The first white space : 2

In [5]:
import re
txt = "The rain in gujarat"
x = re.search("ahamadabad",txt)
print(x)

None

# Replace Function

In [8]:
import re

str1 = "Learnvern provide free online training"
print("Before Replace :",str1)

# After replace the provide with python
result = re.sub(r"provide","python",str1)
print("After replace : ",result)

Before Replace : Learnvern provide free online training
After replace :  Learnvern python free online training

In [11]:
import re

str1 = "Learnvern Provide Free Online Training"
print("Before Replace :",str1)

result = re.sub(r"[a-z]","0",str1)
print("After Replace :",result)

Before Replace : Learnvern Provide Free Online Training
After Replace : L00000000 P000000 F000 O00000 T0000000

# Import pymysql API

In [1]:
# import pymysql

# Creating Connection With Database

In [ ]:
# def CreateConn():
#     return pymysql.connect(host="local host",database="learnvern",user="root",password="",port=3306)

# Create and Insert

In [36]:
# import database API
import pymysql

# Data base connection function
def CreateConn():
    return pymysql.connect(host="localhost",database="learnvern",
                           user="root",password="",port=3306)


# Table create function

def CreateTable():
    conn = CreateConn()
    cursor = conn.cursor() # helping to your query
    query = "create table student(sid int primary key auto_increment,name VARCHAR(50),email VARCHAR(50),city VARCHAR(50))"
    cursor.execute(query)
    conn.commit()
    print("Table Created")
    conn.close()
    
CreateTable() # calling create table function

OperationalError: (1050, "Table 'student' already exists")

# Insert record in Database

In [ ]:
def Insertdata(name,email,city):
    conn = CreateConn() # Creating connection
    cursor = conn.cursor()
    args = (name,email,city)
    query = "Insert into student(name,email,city)values(%s,%s,%s)"
    cursor.execute(query,args)
    conn.commit() # saving the data commit function
    print("Data inserted")
    conn.close()
    
    
n = input("Enter your Name : ")
e = input("Enter your Email : ")
c = input("Enter your City : ")

Insertdata(n,e,c)

# Fenchone and Fetch all Data in python

In [ ]:
# import database API
import pymysql

# Data base connection function
def CreateConn():
    return pymysql.connect(host="localhost",database="learnvern",
                           user="root",password="",port=3306)

In [29]:
def ShowAllData():
    conn = CreateConn()
    cursor = conn.cursor()
    query = "select * from student"
    cursor.execute(query)
    result = cursor.fetchall()
    for i in result:
        print(i)
        
ShowAllData()

(1, 'Sunit', 's@gmail.com', 'Ahmedabad')
(2, 's', 'df', 'fdsa@')

# Fetch data by id from database

In [35]:
def showalldatabyid(sid):
    conn = createconn()
    cursor = conn.cursor()
    args = (sid)
    query = "select * from student where sid=%s"
    cursor.execute(query,args)
    result = cursor.fetchall()
    for i in result:
        print(i)
        
        
ShowAllData()

sid = int(input("Enter your Id : "))
showAllDataById(sid)

(1, 'Sunit', 's@gmail.com', 'Ahmedabad')
(2, 's', 'df', 'fdsa@')

Enter your Id :  1

NameError: name 'createconn' is not defined

# Python MySQL Update and Delete Data

In [ ]:
# Import Database API
import pymysql

# Database connection function
def CreateConn():
    return pymysql.connect(host="localhost",database="learnvern",
                          user="root",password="",port=3306)

# Fetch All Data from Database

In [ ]:
def ShowAllData():
    conn = CreateConn()
    cursor = conn.cursor()
    query = "select * from student"
    cursor.execute(query)
    result = cursor.fetchall()
    for i in result:
        print(i)
        
ShowAllData()

# Update data into database

In [ ]:
def UpdateData(name,email,city,sid):
    conn = CreateConn()
    cursor = conn.cursor()
    args = (name,email,city,sid)
    query = "update student set name=%s,email=%s,city=%s where sid=%s"
    cursor.execute(query,args)
    conn.commit()
    print("Data Updated")
    conn.close()
    
ShowAllData() # Show All Data from database

sid = int(input("Enter your id : "))
n = input("Enter your Name : ")
e = input("Enter your Email : ")
c = input("Enter your City : ")

UpdateData(n,e,c,sid) # For updating 


ShowAllData() # For Showing updated data

# Delete Data from Database

In [ ]:
def DeleteData(sid):
    conn = CreateConn()
    cursor = conn.cursor()
    args = (sid)
    query = "delete from student where sid=%s"
    cursor.execute(query,args)
    conn.commit()
    print("Data Deleted")
    conn.close()
    
ShowAllData()

sid = int(input("Enter your Id : "))

# Calling delete method
DeleteData(sid)

ShowAllData()

# Tkinter

In [6]:
# Import Tkinter
from tkinter import *

#Creating a main window
r = Tk()

# Mainloop method call
mainloop()

# Creating Customize Window

In [14]:
# Import Tkinter
from tkinter import *

# Creating main window
r = Tk()
r.geometry("900x500")
r.title("My Title")
r.configure(bg="orange")

mainloop()

# Adding widgets into window

In [38]:
# Import Tkinter
from tkinter import *

# Creating main window
r = Tk()
r.geometry("900x500")
r.title("My Title")
r.configure(bg="orange")

# Adding lables in main window
rn = Label(r,text="Roll No")
rn.place(x=20,y=20)

fn = Label(r,text="Firstname")
fn.place(x=20,y=60)

ln = Label(r,text="Lastname")
ln.place(x=20,y=100)

em = Label(r,text="Email")
em.place(x=20,y=140)

#Adding entry box into main window
ern = Entry()
ern.place(x=100,y=20)

efn = Entry()
efn.place(x=100,y=60)

eln = Entry()
eln.place(x=100,y=100)

eem = Entry()
eem.place(x=100,y=140)

# Adding buttons into main window
button1 = Button(r,text="Button1",bg="White")
button1.place(x=20,y=200)



mainloop()

In [10]:
a = input("Enter here")
b = input("Enter here")
c = int(a+b)
# d = a+b
print(a+b)
print(type(c))

Enter here3
Enter here4
34
<class 'int'>